html, body {
 margin: 0;
 padding: 0;
 color: #263056;
 text-align: center;
}
div{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%, -50%);
}

body a, button{
 color: #263056;
 text-align: center;
}

button{
  font-size:20px;
  background: none;
  border:none;
  border-bottom:solid #263056;
  width: 32px;
  height: 32px;
}