:root{
    --background-color:#E4D7C4;
    --text-color:#561E46;
    --border-width: 2px;
    --border-style: solid;
    --corner-roundness: 8px;
    --text-size:1em;
}
@font-face {
    font-family: "Coaster-Simoney";
    src: url("/assets/fonts/coaster-simone-font-1742073987-0/Coaster-Simone-BF6759db02ed0f0.otf");
}
*{
    color: var(--text-color);
    background-color: var(--background-color);
    text-align: center;
    font-family:"Coaster-Simoney";
}
h1 {
    font-size: 2.3em;
}
html, body {
  font-size: var(--text-size);
 margin: 0;
 padding: 0;
 text-align: center;
 color: var(--text-color);
 background:var(--background-color);
}
canvas {
  display: block;
  background:none;
}
select{
  background: none;
  border: 2px solid var(--text-color);
  font-weight: bold;
  color: var(--text-color);
  text-align: center;
  width: 28vw;
}