html, body {
 margin: 0;
 padding: 0;
 text-align: center;
 color: #561E46;
 background: #E4D7C4;
}
canvas {
  display: block;
  background:none;
}
h1{
  z-index: 100;
}
select{
  background: none;
  border: 2px solid #561E46;
  font-weight: bold;
  color: #561E46;
  text-align: center;
  width: 28vw;
}