html, body {
 margin: 0;
 padding: 0;
 cursor: url('../assets/Spray_Paint_Can.png') 12 12, auto;
 text-align: center;
}

@font-face {
    font-family: "Fungal";
    src: url("../assets/fungal-main/fonts/webfonts/Fungal-Grow200Thickness500.woff");
}

h1{
  font-family: Fungal;
  font-size: 3.1em;
}

canvas {
  border: 70px solid transparent;
  border-image: url("../assets/Empty-frame.png") 80;
  
}

main{
  display: flex;
  flex-direction: column;
  width:100vw;
  justify-content:space-evenly;
  align-items:center;
}

#sliderPanel{
  padding-top: 0;
  padding-right: 0;
  display: flex;
  flex-direction: row;
  width:fit-content;
  justify-content:space-between;
  align-items:center;
}
input{
  width: 6vw;
}